
@{
    ViewBag.Title = "Commands";
    Layout = "~/Views/Shared/_CarTrackingPanelLayout.cshtml";

}
<link href="@Url.Content("~/Content/page_styles/Commands.css")" rel="stylesheet" type="text/css" />


<h2>Commands</h2>


@Scripts.Render("~/Scripts/page_scripts/Commands.js")
