
@{
    ViewBag.Title = "GeoFence";
    Layout = "~/Views/Shared/_CarTrackingPanelLayout.cshtml";

}
<link href="@Url.Content("~/Content/page_styles/GeoFence.css")" rel="stylesheet" type="text/css" />


<h2>GeoFence</h2>

@Scripts.Render("~/Scripts/page_scripts/GeoFence.js")
