
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_CarTrackingPanelLayout.cshtml";

}
<link href="@Url.Content("~/Content/page_styles/Reports.css")" rel="stylesheet" type="text/css" />


<h2>Reports</h2>

@Scripts.Render("~/Scripts/page_scripts/Reports.js")
