
.btn-primary {
    background: #4dcc2c;
}

.banner_slide_cctv {
    background-image: url("/images/banner/cctv.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_slide_tracking {
    background-image: url("/images/banner/tracking.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.banner_slide_intercomm {
    background-image: url("/images/banner/intercomm.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-sub-title {
    color: #4dcc2c;
}


    .clients-logo img {
        width: 200px;
        height:127px;
    }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 50px;
    font-style: normal;
    margin-left: 20px;
    color: #4dcc2c;
}

.txt-large{
    font-size:24px;
}
